@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /*Fazer os cálculos da largura à partir da borda para não atrapalhar os cálculos de layout*/
}

body {
  /* CSS HSL */
  --eerie-black: hsla(216, 12%, 8%, 1);
  --aero: hsla(213, 57%, 73%, 1);
  --tumbleweed: hsla(25, 74%, 71%, 1);
  --bisque: hsla(29, 85%, 87%, 1);
  --y-in-mn-blue: hsla(218, 36%, 35%, 1);
  font-family: "Fira Code", monospace;
  overflow: hidden;
}

h1 {
  font-size: 34pt;
}

h2 {
  font-size: 21pt;
}

h3,
h4 {
  font-size: 13pt;
  font-weight: lighter;
}

p {
  font-size: 8pt;
}

aside {
  margin: 2.5%;
  width: 300px;
  text-align: center;
  border: 1px solid #000;
}

aside#info {
  height: 420px;
  padding: 20px;
}

aside#contact {
  margin-top: -25px;
  height: 125px;
  padding-top: 25px;
}

aside#contact a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

aside#contact a:hover {
  text-decoration: none;
  color: white;
  background: black;
}

img#logo {
  width: 200px;
}

article {
  display: inline;
}
