<section class="project-details">
    <h2>{{ title }}</h2>

    <div class="section-block">
        <h3> <lucide-icon name="file-text" class="icon"></lucide-icon>
            Contexto</h3>
        <p>{{ context }}</p>
    </div>

    <div class="section-block">
        <h3> <lucide-icon name="wrench" class="icon"></lucide-icon>
            Atuação</h3>
        <p>{{ contribution }}</p>
    </div>

    <div class="section-block">
        <h3> <lucide-icon name="trending-up" class="icon"></lucide-icon>
            Resultados</h3>
        <p>{{ results }}</p>
    </div>

    <div class="section-block">
        <h3> <lucide-icon name="cpu" class="icon"></lucide-icon>
            Tecnologias</h3>
        <div class="tech-tags" @techFade>
            <span *ngFor="let tech of techStack" class="tech-pill">
                #{{ tech }}
            </span>
        </div>
    </div>
</section>