.sobre-mim {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 2rem;
    background-color: #000;
    color: #e0e0e0;
    text-align: left;
    text-indent: 1rem;
    font-size: 1.2rem;
}