<div class="sobre-mim">
    <div>
        <h3>Sobre mim</h3>
        <p>Engenheiro de software com experiência em desenvolvimento front-end e back-end, utilizando diversas
            tecnologias e
            ferramentas. Familiarizado com metodologias ágeis de gerenciamento de projetos e controle de versão.
            Curioso,
            interessado, colaborativo e sempre buscando as melhores práticas de desenvolvimento de software.</p>
    </div>
    <div>
        <img src="" alt="">
    </div>
</div>